@model PostViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="feed-title">For You Feed </h1>

    @if (Model.PostList != null && Model.PostList.Count > 0)
    {
        foreach (var post in Model.PostList)
        {
            <div class="post-card">
                <div class="post-header">
                    <h2 class="post-title">@post.Title</h2>
                    <span class="post-meta">By @post.UserName on @post.UpdatedAt.ToString("dd MMM yyyy")</span>
                </div>
                <div class="post-body">
                     <p>@post.Body</p>
                </div>
            </div>

        }
    }
    else
    {
        <p class="no-posts">No posts available yet.</p>
    }
</div>
